$blur-intensity: 3px;
$hero-image-url: url("../img/hero-image.jpeg");
$hero-text-color: #eee;
$hero-text-font: serif;
$hero-text-size: 40px;

$comment-font-size: 2em;

$navbar-bg-color: #333;
$navbar-li-a-color: white;

$footer-bg-color: grey;
$footer-color: white;

$shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
$hover-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 

$mobile-max-width: 40em;
$desktop-min-width: 1024px;
